HF_TOKEN=<your Hugging Face token here>
GASPAR=<your gaspar username>
CLUSTER_FOLDER=<your subfolder name on the scratch partition>
GROUP=g33
OPENAI_API_KEY=<your OpenAI API key here>
CSCS_SERVING_API=<your CSCS Serving API key here>